@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import './variables.scss';
*{
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(255, 203, 203);
}
.menu-bars {
    z-index: 10;
    position: fixed;
    top: 5px;
    left: 0.5rem;
    font-size: 1rem;
    background: none;
    color: $psh-dark-grey;
}
.fullChat{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    &.active {
        left: 0;
        transition: 350ms;
    }
}
.chat {
    display: flex;
    flex-direction: row;
    align-items: start;
    .chat-Icon {
        width: auto;
        height: 3.5rem;
        border-radius: 50px 50px;
        margin-left: 15px;
    }
    .chat-info {
        width: 9rem;
        flex-direction: column;
        margin-top: 5px;
        text-align: start;
    }
}