$psh-red: rgb(249,67,64);
$psh-light-grey: rgb(233,233,233);
$psh-grey: rgb(113,113,113);
$psh-dark-grey: rgb(25,26,30);
$psh-white: white;
$input-box: rgb(251,251,251);
$input-btn:rgb(240,240,240);

