@import '../../styles/global.scss';
@import '../../styles/variables.scss';
*{
    box-sizing: border-box;
}
.nav-menu {
    background-color: rgb(27, 27, 27);
    width: 18rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .chat {
        height: 5rem;
        display: flex;
        border-bottom: $psh-grey 1px solid;
        flex-direction: row;
        justify-content: space-between;
        color: $psh-grey;
        font-size: small;
        align-items: start;
        padding: 10px 10px 10px 0px;
        .chat-Icon {
            width: auto;
            height: 3.5rem;
            border-radius: 50px 50px;
            margin-left: 15px;
        }
        .chat-info {
            width: 9rem;
            flex-direction: column;
            margin-top: 5px;
            text-align: start;
            .chat-name {
                color: $psh-white;
                font-size: 0.75rem;
            }
        }
        &:hover {
            background-color: rgb(65, 64, 64);
        }
        &:active {
            border-right: 3px $psh-red solid;
        }
    }
    .react-chat {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $psh-red;
        height: 6rem;
        img {
            margin-left: 10px;
            width: auto;
            height: 50px;
        }
        h1 {
            font-size: 1.5rem;
            color:$psh-white;
            margin-left: 10px;
        }
    }
}